<div class="container2">
  <header class="header">
    <div></div>
    <%= form_tag(reviews_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Site" %>
      <%= submit_tag "Search", :name => nil %>
      <% end %>
    <% if user_signed_in? %>
      <nav class="main-nav">
        <div>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        </div>
      </nav>
      <% else %>
        <nav class="main-nav">
          <div>
            <%= link_to 'Sign In!', new_user_session_path, class: "signin" %>
          </div>
          <div>
            <%= link_to 'To HomePage', new_user_session_path %>
          </div>
        </nav>
        <% end %>
  </header>

  <div class="content">

    <nav class="sidebar">



    <ul class="side-nav">

          <li class="logo-box">
        <a href="/"> <%= image_tag("duck4.png", class:'logo') %>
      </li>

        <li class="side-nav_item">
          <a href="/highlight" class="side-nav_link">
            <svg class="side-nav_icon">
              <%= image_tag("home.png", class:'side-nav_icon')  %>
            </svg>
            <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/packages" class="side-nav_link">
            <svg class="side-nav_icon">
              <%= image_tag("frameworks.png", class:'side-nav_icon')  %>
            </svg>
            <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/reviews" class="side-nav_link">
            <svg class="side-nav_icon">
              <%= image_tag("diamond.png", class:'side-nav_icon')  %>
            </svg>
            <span></span>
          </a>
        </li>

        <li class="side-nav_item side-nav_item--active">
          <a href="/users" class="side-nav_link">
            <svg class="side-nav_icon">
              <%= image_tag("user.png", class:'side-nav_icon')  %>
            </svg>
            <span></span>
          </a>
        </li>

      </ul>

    </nav>
<section class="devforms3">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send Reset Instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</section>
  </div>
</div>


